@page {
    size: A4;
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }
}

html {
    font-family: system-ui;
}


h1  {
    margin: 0;
}

.sheet-centering {
    display: flex;
    justify-content: center;
    align-items:center;
}

.hide {
    display: none !important;
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

template {
    display: none;
}
