@page {
    size: A4;
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }
}

html {
    font-family: system-ui;
}


h1  {
    margin: 0;
}

.sheet-centering {
    display: flex;
    justify-content: center;
    align-items:center;
}

.hide {
    display: none !important;
}

.hidden {
    visibility: hidden;
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

template {
    display: none;
}

@-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}

#loading {
    background-image: url('/res/loading.png');
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
    position: absolute;
    animation:spin 1.5s ease-in-out infinite;
    margin-left: 8px;
}
