.back-svg {
    position: absolute;
    top: 0;
    left: 0;
}

.backup-cover-text {
    font-size: 20pt;
    color: #F0F0F0;
    position: absolute;
    top: 102mm;
    left: 78mm;
    z-index: 1;
    transform: rotate(54deg);
    text-align: center;
}

.backup-cover-text :first-child {
    text-transform: uppercase;
    font-family: monospace;
    font-weight: bolder;
}

.backup-cover-text .wallet {
    margin-top: 10mm;
    font-size: 10pt;
}

.backup-cover-text .wallet-name {
    margin-top: 1mm;
    font-family: monospace;
    background: #ababab;
    width: 60mm;
    height: 10mm;
    font-size: 12pt;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 10mm;
}

.backup-cover-text :nth-child(3) {
    text-transform: uppercase;
    font-family: monospace;
    font-weight: bolder;
    padding-top: 20mm;
    margin-bottom: 0;
}

.backup-cover-text :nth-child(4) {
    font-size: 10pt;
    font-weight: bold;

    color: #FFFFFF;
    margin-top: 4mm;
}
